<ion-view view-title="First">
<ion-pane>
    <ion-header-bar class="bar-stable bar-dark">
        <h1 class="title">Check App</h1>
    </ion-header-bar>
    <ion-content>
        <br/>
		<h2><div id="username">  </div></h2>
		<br/>
        <a href="#/groups">
            <button class="button button-full button-positive button-balanced">
                <i class="icon ion-person-stalker"></i>  Groups
            </button>
        </a>
        <br/>
		<a href="#/search">
			<button class="button button-full button-positive button-calm">
				<i class="icon ion-search placeholder-icon"></i> Search
			</button>
		</a>
        <br/>
		<a href="#/recent">
			<button class="button button-full button-positive button-assertive">
				<i class="icon ion-chatbubble-working"></i> Recent Groups
			</button>
		</a>
    </ion-content>
    <div class="bar bar-footer bar-dark">
        <div class="title"><button class="button button-icon icon ion-home"></button></div>
    </div>
</ion-pane>
</ion-view>