<ion-view view-title="Groups">
<ion-header-bar class="bar-stable bar-balanced" ng-controller="MyCtrl">
		<button class="button button-icon icon ion-arrow-left-c" ng-click="myGoBack()"></button>
    <h1 class="title">Groups</h1>
	<button class="button icon ion-navicon"></button>
</ion-header-bar>
<ion-content>
    <br/>
	<br/>
    <h5 class="icon ion-arrow-down-b"> Owned By Me</h3>
    <br/>
    <br/>
    <h5 class="icon ion-arrow-down-b"> Members Of</h3>
</ion-content>
<div class="tabs tabs-icon-only bar-dark">
  <a class="tab-item" href="#/search">
    <i class="icon ion-search"></i>
  </a>
  <a class="tab-item" href="#/app">
    <i class="icon ion-home"></i>
  </a>
  <a class="tab-item" href="#/recent">
    <i class="icon ion-chatbubble-working"></i>
  </a>
</div>
</ion-view>
