<ion-view view-title="Recent">
<ion-header-bar class="bar-stable bar-assertive" ng-controller="MyCtrl">
		<button class="button button-icon icon ion-arrow-left-c" ng-click="myGoBack()"></button>
    <h1 class="title">Recent Groups</h1>
</ion-header-bar>
<ion-content>
    <br/>
	<br/>
    <h3> Recent Groups</h3>
</ion-content>
<div class="tabs tabs-icon-only bar-dark">
  <a class="tab-item" href="#/groups">
    <i class="icon ion-person-stalker"></i>
  </a>
  <a class="tab-item" href="#/app">
    <i class="icon ion-home"></i>
  </a>
  <a class="tab-item" href="#/search">
    <i class="icon ion-search"></i>
  </a>
</div>
</ion-view>
